* {
  box-sizing: border-box;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: #f5f5f5;
  font-family: "Roboto", sans-serif;
}
a {
  color: inherit;
  text-decoration: none;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
blockquote {
  margin-left: 0;
  border-left: 1rem solid #e0e0e0;
}
button {
  background-color: transparent;
  border-color: transparent;
  padding: 0;
  border-width: 0;
  cursor: pointer;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
input {
  border: 1px solid transparent;
  border-radius: 5px;
  transition: box-shadow 0.4s ease-in-out;
  color: #2196f3;
}
input:focus {
  outline: none;
}
.inputGroup {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  border: 1px solid #2196f3;
  border-radius: 5rem;
  padding: 0 0.75rem;
}
.inputGroup > * {
  height: 100% !important;
}
.inputGroup input {
  border-radius: 0;
  padding: 0.25rem 0.5rem;
}
.inputGroup .first {
  border-radius: 2rem 0 0 2rem;
}
.inputGroup .last {
  border-radius: 0 2rem 2rem 0;
}
.inputGroup div {
  color: #2196f3;
}
.inputGroup div.svg {
  display: flex;
  align-items: center;
  justify-content: center;
}
.inputGroup div.button {
  cursor: pointer;
  transition: box-shadow 0.4s ease-in-out;
}
.inputGroup_focus {
  box-shadow: 0 0 5px #2196f3;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f5f5f5;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 0.5rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/*transition*/
.fade-enter {
  opacity: 0;
  transform: scale(0.9);
}
.fade-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 0.2s, transform 0.2s;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 0.2s, transform 0.2s;
}

@media only screen and (max-width: 810px) {
  /*https://codepen.io/waterplea/pen/dVMopv*/
  ul::-webkit-scrollbar,
  div::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }
  ul::-webkit-scrollbar-track,
  div::-webkit-scrollbar-track {
    background: initial;
  }
  ul::-webkit-scrollbar-thumb,
  div::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 0.5rem;
  }
  ul::-webkit-scrollbar-thumb:hover,
  div::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}
